<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gp"
        tools:targetApi="30">
        <activity
            android:name=".SearchPostsActivity"
            android:exported="true" />
        <activity
            android:name=".setting.ChangeAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".DirectMessageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".home.ui.notifications.FriendNotificationFragment"
            android:exported="false" />
        <activity
            android:name=".home.ui.notifications.FollowerNotificationFragment"
            android:exported="false" />
        <activity
            android:name=".data.databaseTest.DatabaseTestActivity"
            android:exported="true"
            android:label="@string/title_activity_database_test"
            android:theme="@style/Theme.Gp.NoActionBar" />
        <activity
            android:name=".setting.FriendDetailActivity"
            android:exported="false" />
        <activity
            android:name=".interaction.NewPostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".interaction.SharePageActivity"
            android:exported="false" />
        <activity
            android:name=".setting.PostVisibilityActivity"
            android:exported="false" />
        <activity
            android:name=".interaction.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleTestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_note_detail"
            android:exported="false" />
        <activity
            android:name=".setting.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".home.Fragment_home"
            android:enableOnBackInvokedCallback="true"
            android:exported="false"
            android:label="@string/title_activity_fragment_home" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity android:name=".Utils.UserParserActivity" />
    </application>

</manifest>